#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@  --parallel

override_dh_auto_configure:
	dh_auto_configure -- --target=x86_64-hermit --prefix=`pwd`/debian/pthread-embedded-hermit/opt/hermit

override_dh_auto_install:
	mkdir -p debian/pthread-embedded-hermit/opt/hermit/x86_64-hermit/lib/
	mkdir -p debian/pthread-embedded-hermit/opt/hermit/x86_64-hermit/include/

	/usr/bin/install -c -m 644 pthread.h debian/pthread-embedded-hermit/opt/hermit/x86_64-hermit/include
	/usr/bin/install -c -m 644 semaphore.h debian/pthread-embedded-hermit/opt/hermit/x86_64-hermit/include
	/usr/bin/install -c -m 644 platform/hermit/pte_types.h debian/pthread-embedded-hermit/opt/hermit/x86_64-hermit/include

	dh_auto_install
