#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@  --parallel

override_dh_auto_configure:
	dh_auto_configure -- --target=x86_64-hermit --prefix=`pwd`/debian/pthread-embedded-hermit/opt/hermit

override_dh_auto_install:
	mkdir -p debian/pthread-embedded-hermit/opt/hermit/x86_64-hermit/lib/
	dh_auto_install
